.constructor__wrapper {
  background-color: #ffffff;
  padding: 2em;
}

.constructor__title {
  margin: 0;
  border-bottom: 5px solid #1b395b;
}

.constructor__graphs {
  max-width: 100%;
  flex-direction: column;

  .graph__container {
    margin-right: 1em;
    width: 80%;
  }

  .piechart__container {
    width: 50%;
    margin: 0 auto;
  }

  .constructor__container {
    width: 45%;
  }
}

.constructor__pdf {
  background-color: #d9dddc;
  color: #3c4d5f;
  border: none;
  padding: 0.5em;
  margin-top: 1em;
  cursor: pointer;
}
