.current_situation__graphs {
  justify-content: center;
  display: flex;
  background-color: #ffffff;
  padding: 2em;
  flex-wrap: wrap;

  .barchart__container {
    width: 60%;
    display: flex;
    align-items: center;
    margin-right: 1em;
  }

  .barchart__container_2 {
    width: 90%;
  }

  .piechart__container {
    width: 35%;
  }

  .chart-container {
    width: 100%;
  }
}
