.analysis__wrapper {
  background-color: #ffffff;
  padding: 2em;
}

.analysis__title {
  margin: 0;
  border-bottom: 5px solid #1b395b;
}

.analysis__graphs {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;

  .graph__container {
    width: 80%;
    margin-right: 1em;
  }

  .analysis__container {
    width: 45%;
  }
}
