.filters_menu__scroll_wrapper {
  height: 100px !important;

  p {
    margin: 0;
  }

  li {
    display: flex;
    align-items: center;
  }
}

.filters_menu__scroll_inner {
  margin-top: 1em;
  border: 2px solid #1b395b;
  border-radius: 5px;
  padding: 0.5em 0;

  .iScrollVerticalScrollbar {
    width: 12px !important;
  }

  .iScrollIndicator {
    background-color: #1b395b !important;
    border: none !important;
    width: 10px !important;
    // height: 14px !important;
  }
}

.filters_menu__scroll__elements {
  // padding: 1em;
}

.filters_menu {
  border-radius: 5px;
  border: 5px solid #e6eff8;
  margin-top: 1rem;
  padding: 1em;
}

.filters_menu__container {
  display: flex;
}

.filters_menu__title {
  margin: 0;
}
